<main class="container" (mousedown)="startDrag($event)"
(mousemove)="dragging($event)"
(mouseup)="endDrag($event)"
(mouseleave)="endDrag($event)"
(touchstart)="startDrag($event)"
(touchmove)="dragging($event)"
(touchend)="endDrag($event)">
    @if (previousBtn) {
        <button  class="action-btn" (click)="previousImage()"> < </button>
    }

    <div class="image-container">
        @for (url of data; track $index) {
            <div
                class="image-item"
                [ngClass]="{'active': $index === currentIndex }"
                [style]="'--index:' + currentIndex"
                >
                <img [src]="url">
            </div>
        }
    </div>

    @if (nextBtn) {
        <button class="action-btn" (click)="nextImage()"> > </button>
    }

    <div class="bottom-bar">
        @for (item of data; track $index) {
            <div
            class="bottom-item"
            [ngClass]="{'active': $index === currentIndex }"
            (click)="currentIndex = $index"
            ></div>
        }
    </div>

</main>
